// -----------------------------------------
// Installing to conenct sql! 
// -----------------------------------------
cd server
npm install express mysql2 sequelize dotenv cors


// -----------------------------------------
// bcrypt for hashing!
// -----------------------------------------
npm install bcrypt jsonwebtoken
